<ng-container [formGroup]="givingForm">
    <div class="field-group">
        <label class="field-label">Tithing</label>
        <input currencyMask type="text" formControlName="tithe" class="form-control" placeholder="$0.00">
        <p class="error" *ngIf="givingForm.errors && givingForm.errors['oneRequired'] && formSubmitted">Tithe or Offering must be provided</p>
    </div>

    <div class="offering-section">
        <div class="offering-header">
            <div class="offering-header-text">
                <label class="field-label">Offering</label>
                <p class="offering-hint">(General Offering, Building Fund, etc)</p>
                <span class="error" *ngIf="givingForm.errors && givingForm.errors['oneRequired'] && formSubmitted">Tithe or Offering must be provided</span>
            </div>
            <button type="button" class="add-offering-btn" (click)="addOffering()">
                <i class="pi pi-plus"></i>
            </button>
        </div>

        <div class="offering-container" formArrayName="offerings" *ngFor="let form of offerings.controls; let i = index">
            <ng-container [formGroupName]="i">
                <div class="offering-item-header">
                    <span class="offering-label">Offering {{i+1}}</span>
                    <a class="remove-offering" (click)="deleteOffering(i)">
                        <i class="pi pi-times"></i>
                    </a>
                </div>
                <span class="error" *ngIf="form.errors && form.errors['offeringRequired'] && formSubmitted">Offering required. Remove or fill in to continue.</span>

                <div class="row mb-3">
                    <div class="col-md-6 mb-3">
                        <input currencyMask type="text" class="form-control" formControlName="amount" placeholder="$0.00">
                    </div>

                    <div class="col-md-6">
                        <p-dropdown
                            styleClass="dropdown"
                            formControlName="category"
                            optionValue="id" dataKey="id"
                            [options]="categories" optionLabel="label"
                            emptyMessage="Select"
                            placeholder="Select"></p-dropdown>
                        <p class="error" *ngIf="form.errors && form.errors['categoryRequired'] && formSubmitted">A category must be selected</p>
                    </div>
                </div>

                <div class="row" *ngIf="isOtherCategory(i)">
                    <div class="col-md-12">
                        <input type="text" class="form-control" formControlName="other" placeholder="General Offering, Building Fund, etc">
                        <p class="error" *ngIf="form.errors && form.errors['otherRequired'] && formSubmitted">An other offering type must be specified</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
