<div class="row justify-content-center cc-info">
    <div class="col-md-12 p-0">
        <div #numberElement class="input form-control" id="numberElement"></div>
        <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cardErrors?.error && formSubmitted">{{ cardErrors?.error?.message }}</p>
        <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cardErrors?.empty && formSubmitted">{{ cardErrors?.empty?.message }}</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12 p-0">
      <div #expElement class="input form-control" id="expElement "></div>
      <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="expErrors?.error && formSubmitted">{{ expErrors?.error?.message }}</p>
      <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="expErrors?.empty && formSubmitted">{{ expErrors?.empty?.message }}</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12 p-0">
      <div #cvvElement class="input form-control" id="cvvElement"></div>
      <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cvvErrors?.error && formSubmitted">{{ cvvErrors?.error?.message }}</p>
      <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cvvErrors?.empty && formSubmitted">{{ cvvErrors?.empty?.message }}</p>
    </div>
</div>

<div class="row justify-content-center pb-5">
    <div class="col-md-12 p-0">
        <input [(ngModel)]="zipCode" placeholder="ZIP CODE" mdbInput class="form-control zip-code" type="number" max="5">
        <p class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="(zipCode === '') && formSubmitted">Please provide a zip code</p>
    </div>
</div>

<div class="row justify-content-center pay ">
    <div class="col-md-12 p-0">
        <a mdbBtn class="waves-light button btn-block z-depth-1" style="font-size: 15px;" (click)="submit()">Submit</a>
    </div>
</div>

<div class="row justify-content-center pay">
    <div class="col-md-12 p-0">
        <a class="clear-btn">Previous</a>
    </div>
</div>