<ng-container [formGroup]="givingForm">
    <div class="field-group">
        <label class="field-label">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="your@email.com" (keyup)="userChanged()">
        <p class="error" *ngIf="givingForm.get('email').invalid && formSubmitted">E-mail required</p>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label class="field-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" (keyup)="userChanged()">
            <p class="error" *ngIf="givingForm.get('firstName').invalid && formSubmitted">First Name required</p>
        </div>

        <div class="col-md-6">
            <label class="field-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" (keyup)="userChanged()">
            <p class="error" *ngIf="givingForm.get('lastName').invalid && formSubmitted">Last Name required</p>
        </div>
    </div>

    <div class="field-group">
        <label class="field-label">Phone</label>
        <input mask="(000) 000-0000" type="text" formControlName="phone" class="form-control" placeholder="(555) 000-0000" (keyup)="userChanged()">
        <p class="error" *ngIf="givingForm.get('phone').invalid && formSubmitted">Phone required</p>
    </div>
</ng-container>
